/* This file will hold the main styles for your website. */

.redes-sociales-google {
    padding-left: 0px;
    padding-right: 0px;
}

.redes-sociales-fb {
    border: 1px solid #d0d0d0;
    background-color: #f5fcfe;
    padding: 0px 3% 3%; 
}

.redes-sociales-tw {
    border: 1px solid #d0d0d0;
    background-color: #eef9fd;
    padding: 0px 3% 0%;
}

.redes-sociales {
    border: 1px solid #d0d0d0;
   background-color: #d8e6eb;
    margin-bottom: 0px;
    padding: 0px 5% 0%;

}

.redes-sociales .red-social {
    margin-bottom: 1px;
}

.otras-redes-sociales {
	 text-align: center;
}

.otras-redes-sociales img {
	 margin: 10px;
}

.zone-footer {
  padding-top: 15px;
}

.zone-footer h2.block-title {
  font-size: 1.2em;
  line-height: 120%;
}

.zone-footer ul.menu li {
  list-style: none;
  padding:0;
  margin: 0;
}

.zone-footer ul.menu a {
  text-decoration: none;
  color: #0074ba;
}



.sg-links h2.block-title {
  color: #808080;
  font-size: 0.9em;
}

span.credito {
    font-style: italic;
    color: #808080;
    font-size: 0.9em;
}

.field-name-addthis-horizontal {
    float: right;
}

span.view-title {
    color: #404040;
    font-size: 0.85em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
}

div.views_slideshow_slide .views-field-field-image {
    position: relative;
    z-index: 0;
}

div.views_slideshow_slide .views-field-title {
    position: absolute;
    top: 60%;  
    height: 10%;
    left: 0px;
    z-index: 5;
    background: rgb(192,192,192);
    background: rgba(192,192,192, 0.85);
    width: 100%;
}

div.views_slideshow_slide .views-field-title .field-content {
    margin: 0 10px;
}

div.views_slideshow_slide .views-field-title a {
    color: #404040;
    font-weight: bold;
}

div.views_slideshow_slide .views-field-body {
    position: absolute;
    top: 70%;
    height: 30%;
    left: 0px;
    z-index: 4;
    background: rgb(192,192,192);
    background: rgba(192,192,192, 0.85);
    color: #404040;
    width: 100%;
}

div.views_slideshow_slide .views-field-body p {
    margin: 0 10px;
}

.views-slideshow-controls-text-previous, .views-slideshow-controls-text-next {
    width: 26px;
    height: 0px;
    padding-top: 20px;
    position: absolute;
    margin-top: 5px;
    overflow: hidden;
    z-index: 10;
}

.views-slideshow-controls-text-previous {
    background: url('../images/slideshow_previous.png');
    left: 320px;
}

.views-slideshow-controls-text-next {
    background: url('../images/slideshow_next.png');
    left:360px;
}

.views-slideshow-controls-text-pause {
    display: none;
}

p {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 15px;
    margin-bottom: 10px;
}

h1 {
   font-size: 2.4em;
}

h2 {
   font-size: 1.8em;
   color: #606060;
}

div.content p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#section-header {
  /* Aqui podria poner background de todo el header */
}

#zone-header-wrapper {
    padding-top: 4px;
    padding-bottom: 4px;
}

#zone-branding-wrapper {
    background: url('../images/header-background.jpg');
    background-repeat: x-repeat;
}

#logo {
    margin-top: 10px;
}

#zone-menu-wrapper {
    background-image: url('../images/menu-background.jpg');
    background-repeat: x-repeat;
}

#block-search-form {
    margin-top: 10px;
    text-align: right;
}

#mini-login {
    text-align: right;
    float: right;
    color: #ececec;
    text-shadow: 2px 2px 2px #a0a0a0;
    margin-top: 10px;
}

#mini-login a {
    color: #ececec;
    text-shadow: 2px 2px 2px #a0a0a0;
    font-weight: bold;
    text-decoration: none;
}

#mini-login a:hover {
    color: #ffffff;
    text-shadow: 2px 2px 2px #a0a0a0;
}

.right-aligned {
    text-align: right;
}

.center-aligned {
    text-align: center;
}

#zone-footer-wrapper {
    background: #202020;
    background: url('../images/footer-background.jpg');
    background-repeat: x-repeat;
}

.teaser_summary {  }
.teaser_share {  }
.teaser_thumbnail { padding-top: 20px; padding-bottom: 10px; }
.teaser_footer { }
div.teaser_summary p { margin: 0; }
.teaser_header h4 { margin-bottom: 5px; }
.node-teaser { border-bottom: 1px solid #C0C0C0; }

div.view-mode-full div.field-type-image,
div.view-mode-full div.field-type-website-screenshot-image {
   float: left;
   margin-right: 15px;
   margin-bottom: 12px;
}

div.form-item-field-screenshot-image-und-0-description {
  display: none;

}


