.sf-menu.sf-style-sgbuzz {
  float: left;
  margin-bottom: 0em;
  padding: 0;
}
.sf-menu.sf-style-sgbuzz.sf-navbar {
  width: 100%;
}
.sf-menu.sf-style-sgbuzz ul {
  padding-left: 0;
}
.sf-menu.sf-style-sgbuzz a {
  border-left: none;
  border-top: none;
  padding: 0.75em;
  text-decoration: none;
}
.sf-menu.sf-style-sgbuzz a,
.sf-menu.sf-style-sgbuzz a:visited  {
  color: #606060;
}
.sf-menu.sf-style-sgbuzz a.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.sf-style-sgbuzz.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-sgbuzz span.sf-description {
  color: #13a;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-sgbuzz li,
.sf-menu.sf-style-sgbuzz.sf-navbar {
  font-weight: bold;
  background: url('../images/menu-background.jpg');
  text-transform: uppercase;
}

.sf-menu.sf-style-sgbuzz li li {
  font-weight: normal;
  text-transform: none;
  background: #dde4e8;
}

.sf-menu.sf-style-sgbuzz li:hover,
.sf-menu.sf-style-sgbuzz li.sfHover,
.sf-menu.sf-style-sgbuzz a:focus,
.sf-menu.sf-style-sgbuzz a:hover,
.sf-menu.sf-style-sgbuzz a:active {
  background: #e4eaec;
  outline: 0;
}

