.sf-menu.main-menu {
  float: left;
  margin-bottom: 0em;
  padding: 0;
}
.sf-menu.main-menu.sf-navbar {
  width: 100%;
}
.sf-menu.main-menu ul {
  padding-left: 0;
}
.sf-menu.main-menu a {
  border-left: none;
  border-top: none;
  padding: 0.75em;
  text-decoration: none;
}
.sf-menu.main-menu a,
.sf-menu.main-menu a:visited  {
  color: #e8e8e8;
  text-shadow: 2px 2px 2px #a0a0a0;
}

.sf-menu.main-menu a:hover  {
  color: #ffffff;
  text-shadow: 2px 2px 4px #a0a0a0;
}

.sf-menu.main-menu a.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.main-menu.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.main-menu li,
.sf-menu.main-menu.sf-navbar {
  font-weight: bold;
  background: url('../images/menu-background.jpg');
  text-transform: uppercase;
}

.sf-menu.main-menu li li {
  font-weight: normal;
  text-transform: none;
  background: #00b7e9;
}

.sf-menu.main-menu li:hover,
.sf-menu.main-menu li.sfHover {
  background: url('../images/menu-background.jpg');
  outline: 0;
}

.sf-menu.main-menu li li:hover,
.sf-menu.main-menu li li.sfHover 
 {
  background: #7fdbf2;
  outline: 0;
}
