
ul.sf-menu.menu-sg-links {
  background: url('../images/sglinks-background.png');
}

.sg-links .content {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #dfddda 50%, #acaeb0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#dfddda), color-stop(100%,#acaeb0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#dfddda 50%,#acaeb0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#dfddda 50%,#acaeb0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#dfddda 50%,#acaeb0 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%,#dfddda 50%,#acaeb0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#acaeb0',GradientType=0 );
  moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  height: 30px;  
  width: 80%;
  text-align: center;
}

.sf-menu.menu-sg-links li {
  height:30px;
  width: 80px;
}

.sf-menu.menu-sg-links li a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.sf-menu.menu-sg-links li.sf-item-1 {
  margin-left:10px;
  margin-right:10px;
  background: #00d915; /* Old browsers */
  background: -moz-linear-gradient(top,  #00d915 50%, #62a302 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #00d915 50%,#62a302 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top,  #00d915 50%,#62a302 100%); /* IE10+ */
  background: linear-gradient(top,  #00d915 50%,#62a302 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d915', endColorstr='#62a302',GradientType=0 ); /* IE6-9 */
}

.sf-menu.menu-sg-links li.sf-item-2 {
  background: #ff6600; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff6600 50%, #d55a19 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #ff6600 50%,#d55a19 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top,  #ff6600 50%,#d55a19 100%); /* IE10+ */
  background: linear-gradient(top,  #ff6600 50%,#d55a19 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#d55a19',GradientType=0 ); /* IE6-9 */
}

.sf-menu.menu-sg-links li.sf-item-3 {
  margin-left:10px;
  margin-right:10px;
  background: #bf6d00; /* Old browsers */
  background: -moz-linear-gradient(top,  #bf6d00 50%, #703e00 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #bf6d00 50%,#703e00 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top,  #bf6d00 50%,#703e00 100%); /* IE10+ */
  background: linear-gradient(top,  #bf6d00 50%,#703e00 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf6d00', endColorstr='#703e00',GradientType=0 ); /* IE6-9 */
}

.sf-menu.menu-sg-links li:hover,
.sf-menu.menu-sg-links li.sfHover,
.sf-menu.menu-sg-links a:focus,
.sf-menu.menu-sg-links a:hover,
.sf-menu.menu-sg-links a:active {
  outline: 0;
}
