.node--type-link .field--name-field-weblink {
    font-size: 0.7em;
    margin: 0px;
}

.featured-posts .post {
    display: block;
    position: relative;
    width: 100%;
    height: 248px;
    margin: 0;
    background-size: cover;
    background-position: center;
}

.featured-posts .post:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: block;
}

.featured-posts .post:hover:before {
    background: rgba(0, 0, 0, 0.7);
}

.featured-posts .first .post {
    height: 500px;
}

.row-gallery {
    margin-left: -1px;
    margin-right: -1px;
}
.row-gallery [class*=" col-"], .row-gallery [class^=col-] {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.featured-posts .post-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    overflow: hidden;
    padding: 20px;
}

.featured-posts .post-category {
    margin-bottom: 10px;
}
.featured-posts .post .post-category a {
    background-color: #2898f0;
    border-color: #2898f0;
    color: #fff;
    padding: 3px 10px;
}
.featured-posts .post .post-title {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.featured-posts .post .post-title a {
    color: #fff;
}

.post .post-meta {
    display: block;
    margin-top: 10px;
    overflow: hidden;
}
.post .post-meta li {
    float: left;
    margin-right: 20px;
    font-size: 11px;
    text-transform: uppercase;
}
.post .post-meta li i {
    margin-right: 5px;
}

ul.post-meta {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post .post-category a {
    font-size: 12px;
    font-weight: 500;
    font-family: Rajdhani, Helvetica Neue, sans-serif;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.region-banner {
    display: flex;
}

#block-bannerleaderboard {
    padding: 20px 0 10px 0;
    margin: 0 auto;
}

h3.field__label.inline {
    margin: 0px;
    font-size: 18px;
}

.region-top-content .widget-title, .region-content .widget-title {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    height: 40px;
    position: relative;
    overflow: hidden;
    clear: both;
    background: #f0f0f0;
}
.region-top-content .widget-title h2, .region-content .widget-title h2 {
    background-color: #2898f0;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: normal;
    color: #fff;
    padding-right: 20px;
    display: inline-block;
    position: relative;
    z-index: 2;
    line-height: 40px;
    padding: 0 20px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 500;
    font-family: Rajdhani, Helvetica Neue, sans-serif;
}

#block-block-upcoming .widget-content {    
    display: grid;
    margin: 0;
    padding: 0;
    grid-column-gap: 12px;
    grid-template-columns: repeat( 2, 1fr);
}
@media (min-width: 768px) and (max-width:1199px) {
    #block-block-upcoming .widget-content {    
        grid-template-columns: repeat( 3, 1fr);    
    }
}
@media (min-width: 1200px) {
    #block-block-upcoming .widget-content {    
        grid-template-columns: repeat( 6, 1fr);    
    }
}


#block-block-upcoming .item {
    width: 180px;
    text-align: center;
}

#block-block-upcoming h6 {
    margin: 10px 0;
    font-size: 1.0em;
    font-weight: 600;
}

.node--type-event .node__meta {
    display: none;
}

.node--view-mode-teaser .field--name-body {
    font-size: 0.9em;
}  

.view-header .taxonomy-term.vocabulary-autores-sg .content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 1.4em;
    margin-bottom: 2em;
}

.view-header .taxonomy-term.vocabulary-evento-sg .content {
    display: grid;
    grid-template-columns: 1fr;
}

.view-header .field--name-field-image {
  grid-row: 1/3;
}

.view-header .field--name-field-one-liner {
    font-size: 1.3em;
    font-style: italic;
}

@media (max-width: 500px) {
    blockquote {
      padding: 0 0 0 80px;
    }
    blockquote:after {
      left: 0;
      font-size: 190px;
    }
}

#block-encirculacion .field--name-body {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 10px;  
}

@media (max-width: 599px) {
    #block-encirculacion .field--name-body {
        grid-template-columns: 1fr;
    }
  }
  @media (min-width: 600px) {
    #block-encirculacion .field--name-body {
        grid-template-columns: 2fr 3fr;
    }
}

#block-encirculacion img {
      max-width: 100%;
  }
#block-encirculacion  a {
    text-decoration: none;
    color: #202020;
  }

#block-encirculacion h2 {
    font-weight: 700;
}

#block-encirculacion .revista {
    grid-row: 1/5;
}

#block-encirculacion .article {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 15px;
}

#block-encirculacion .article img {
    grid-row: 1/3;
}

#block-encirculacion .title {
    font-weight: 700;
}

#block-encirculacion .author {
    text-transform: uppercase;
    font-size: 0.8em;
    color: #888;
}

.field--name-field-paragraphs {
    margin-bottom: 2em;
  }
.field--name-body {
    margin-top: 1em;
  }

.view-ponencias-por-evento .aggregated-term, .view-contenido-por-autor .aggregated-term {
  position: relative;
  color: white;
}

.view-ponencias-por-evento .term-name, .view-contenido-por-autor .term-name {
    position: absolute;
    bottom: 10px;
    left:0;
    width: 232px;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    font-weight: bold;
    font-size: 1.1em;
    line-height:1em;
  }
  
  .view-ponencias-por-evento .term-count, .view-contenido-por-autor .term-count {
    position: absolute;
    top: 5px;
    left:190px;
  }
  
  .view-ponencias-por-evento .view-content, .view-contenido-por-autor .view-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, 232px);
      grid-gap: 26px;
  }
  
  div.taxonomy-term.vocabulary-numrevista .field--name-field-image {
      display: inline-block;
      margin-right: 15px;
  }

  div.taxonomy-term.vocabulary-numrevista .field--name-description {
    display: inline-block;
}
