/**
 * @file
 * Visual styles for Newsplus Lite's field components.
 */

.field--label-inline .field__items {
  margin-top: 20px;
  float: none;
}
.field--type-entity-reference ul.links {
  list-style: none;
}
.field--entity-reference-target-type-taxonomy-term .field__items {
  padding: 0;
  margin: 0;
}
.field--entity-reference-target-type-taxonomy-term .field-label {
  font-weight: normal;
  padding-right: 5px; /* LTR */
}

/* Taxonomy term reference */
.field--entity-reference-target-type-taxonomy-term {
  display: block;
  overflow: hidden;
  position: relative;
}

.field--entity-reference-target-type-taxonomy-term h2 {
  margin: 0px;
}

.field--entity-reference-target-type-taxonomy-term ul.links li {
  float: none;
  white-space: nowrap;
  margin-right: 3px;
  padding: 0;
}

.node--view-mode-full .field--entity-reference-target-type-taxonomy-term ul.links li a {
  color: #ffffff;
  padding: 5px 6px;
  line-height: 1;
  background-color: #7d7d7d;
  display: inline-block;
  margin: 1px 0 2px 0;
  text-transform: uppercase;
  min-width: auto;
}


.node--view-mode-teaser .field--entity-reference-target-type-taxonomy-term ul.links li a,
.node--view-mode-full .field--name-field-autor.field--entity-reference-target-type-taxonomy-term ul.links li a  {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  color: #1090f0;
  text-transform: none;
}

.field--name-field-autor, .field--name-field-articulo-seccion {
  margin: 0.4em 0px;
}

.field--entity-reference-target-type-taxonomy-term ul.links li a:hover {
  text-decoration: none;
  color:#ffffff;
}

