/**
 * @file
 * Styles for menus in Bartik.
 */

/* This is needed to override ul.menu styles in menu.theme.css */
ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.menu li {
  margin:0;
  position: relative;
  list-style: none;
  padding: 0;
}

ul.menu li.menu-item--expanded ul {
  padding-left: 20px;
}

ul.menu li > a:hover:before {
  left: 10px;
  color: #ffffff!important;
}
ul.menu li.menu-item--expanded > a:hover:before {
  left: 5px;
}
#pre-header ul.menu li.menu-item--collapsed > a:before,
#pre-header ul.menu li.menu-item--expanded > a:before,
#header-top ul.menu li.menu-item--collapsed > a:before,
#header-top ul.menu li.menu-item--expanded > a:before {
  content: "";
}

/*Subfooter menu*/
.subfooter-area.right ul.menu {
  text-align: right;
}
.subfooter-area ul.menu li {
  display: inline-block;
}
.subfooter-area ul.menu ul.menu {
  display: none;
}
.subfooter-area ul.menu li a {
  margin:0;
  padding: 0 8px 0 6px;
  border-right: 1px solid #464646;
  color: #464646;
  line-height: 1;
}
.subfooter-area ul.menu li a:hover {
  text-decoration: underline;
  background-color: transparent;
}
.subfooter-area ul.menu li:last-of-type a {
  border-right: none;
  padding-right: 0;
}
.subfooter-area.left ul.menu li.first a {
  padding-left: 0;
}
.subfooter-area ul.menu li.menu-item--expanded > a:before,
.subfooter-area ul.menu li > a:before {
  content: "";
}
@media (max-width: 991px) {
  .subfooter-area ul.menu,
  .subfooter-area.right ul.menu {
    text-align: center;
    padding: 0 0 0 2px;
  }
}
@media (max-width: 767px) {
  .subfooter-area ul.menu li {
    display: block;
    padding: 10px 20px;
  }
  .subfooter-area ul.menu li:last-of-type a,
  .subfooter-area ul.menu li a {
    border-right: none;
    padding: 0 10px;
  }
}

/* Superfish Support */
#main-navigation .sf-menu ul {
  display: none;
  top:100%;
}

#main-navigation .sf-menu > li > a.menuparent {
  padding-right: 28px;
}

#main-navigation .sf-menu > li > ul {
  right: 0!important;
}
#main-navigation .sf-menu ul li a {
  padding: 10px 15px;
  font-size: 16px;
}

#main-navigation .sf-menu ul ul {
  top:0;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  #main-navigation ul.sf-menu li a.menuparent:after {
    right: 8px;
  }
}
#main-navigation ul.sf-menu ul li a.menuparent:after {
  right: 10px;
  top: 14px;
}

/*Mobile Menu*/
ul.sf-menu.sf-accordion.sf-expanded {
  margin-bottom: 10px;
}
#main-navigation .sf-accordion-toggle.sf-style-none,
#pre-header .sf-accordion-toggle.sf-style-none,
#header-top .sf-accordion-toggle.sf-style-none {
  text-align: right;
}
#main-navigation .sf-accordion-toggle.sf-style-none a {
  position: absolute;
  z-index: 100;
  padding: 8px;
  right: 5px;
  color: #202020;
}
#main-navigation .sf-accordion-toggle.sf-style-none a:after {
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
}
#main-navigation .sf-accordion-toggle.sf-style-none a.sf-expanded {
  top: auto;
  z-index: auto;
}
#main-navigation .sf-accordion-toggle.sf-style-none a.sf-expanded:after {
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
}
#main-navigation .sf-accordion-toggle.sf-style-none span,
#pre-header .sf-accordion-toggle.sf-style-none span,
#header-top .sf-accordion-toggle.sf-style-none span {
  display: none;
}
ul.menu.sf-accordion li {
}
ul.menu.sf-accordion ul li {
  border-bottom: none;
}
#main-navigation ul.menu.sf-accordion li a,
#pre-header ul.menu.sf-accordion li a,
#header-top ul.menu.sf-accordion li a {
  padding-left: 15px;
}
#main-navigation ul.menu.sf-accordion ul li a,
#pre-header ul.menu.sf-accordion ul li a,
#header-top ul.menu.sf-accordion ul li a {
  padding-left: 30px;
}
#main-navigation ul.menu.sf-accordion ul ul li a,
#pre-header ul.menu.sf-accordion ul ul li a,
#header-top ul.menu.sf-accordion ul ul li a {
  padding-left: 45px;
}
#main-navigation ul.menu.sf-accordion ul ul ul li a,
#pre-header ul.menu.sf-accordion ul ul ul li a,
#header-top ul.menu.sf-accordion ul ul ul li a {
  padding-left: 60px;
}
#main-navigation ul.menu.sf-accordion ul ul ul ul li a,
#pre-header ul.menu.sf-accordion ul ul ul ul li a,
#header-top ul.menu.sf-accordion ul ul ul ul li a {
  padding-left: 75px;
}

/*mobile menu arrows*/
#pre-header ul.sf-accordion li a.menuparent:after,
#header-top ul.sf-accordion li a.menuparent:after {
  top: 11px;
  font-size: 12px;
}
#main-navigation ul.sf-accordion ul li a.menuparent:after {
  content: "Hola";
  top: 14px;
  right: 16px;
}
#pre-header ul.sf-accordion ul li a.menuparent:after,
#header-top ul.sf-accordion ul li a.menuparent:after {
  content: "Hola";
  top: 11px;
  right: 16px;
}
